.frase-efeito {
    background-image: url('/assets/img/img-frase.svg');
    padding: 50px;
}

.frase-efeito h5 {
    font-size: 2.1rem;
    color: #fff;
    text-align: center;
}

.red-text {
    color: #FF2A2A;
}

.green-text {
    color: #01C72D;
}

.detalhe-style {
    width: 100%;
}

.detalhe-style img {
    width: 100%;
    display: block;
}