#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #47096D;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.4s ease;
}

#topButton:hover {
    background-color: #611094;
}
